.body{
    background-color:#e4ddf4  ;
    margin: 0;
    overflow-wrap: break-word;
    overflow-x: hidden;
    min-height: 75rem;
    overflow-y: scroll;

    min-height: 75rem;
    padding-top: 4.5rem;
    
}


.container{
    width: 100%;
    padding: 0px;
    margin: 0px;
    border-radius: 5px;
}
#logo{
    width: 300px;
}
.endflex{
    
    justify-content: flex-start;
    text-align: center;
}
.nav{
    width: 100%;
}
#top-nav{
    border-top: #6db784 solid 40px;
    position: fixed;
    color: black;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    align-content: center;
    text-align: center;
    width:100%;
    padding: 20px;
    top: 0;
    bottom: auto;
    right: 0;
    z-index: 99;
    left: 0;
    background-color: #e4ddf4;

}

.nav-bar img{
    filter: saturate(0.7);
    height: 100px;
    margin-left: -50px;
    z-index: 120;

}


#home{
    padding: 10px;
    width: 100%;
    /* background-color: #5bccf6; */
    z-index: 2;

    color: #2d2d2d;
    height: min-content;
    justify-content: space-between;
    margin-top: 100px;
    border-bottom: silver solid 2px;
    margin-left: 50px;

}

#intro{
    justify-content: space-between;
    
    padding: 20px;
    border-radius: 10px;

   

}



#jack-img{
    height: min-content;
    filter: contrast(4);
    filter:brightness(-4);
    clip-path: circle(30%);
    filter: grayscale(7);
    width: 100%;
}

#jack-img:hover{
    cursor: pointer;
    filter: saturate(1.6);
    transform:scale(1.3);
    transition-duration: 2s;
    
}


#btn{
    border-radius: 50px;
    border-bottom: solid 6px rgb(176, 64, 44);
    border-left: solid 5px rgb(27, 249, 201);
    border-right: solid 5px greenyellow;
    text-align:center;
    text-decoration: none;
    font:30px;
    margin-right: 30px;
    font-weight: bold;
    color: #2d2d2d;
}
#add-box{
    text-align: center;
    width: 40%;
    height: max-content;
    padding: 5px;
    border: solid 1px thistle;
    background-color: azure;
    border-radius: 5px;
}

.tbox{
    /* margin-left:50px; */
    padding: 10px;
    width: 80%;
    text-align: center;
    align-items: center;
    border-radius: 5px;
    margin-top: 30px;
    border-top: 4px solid tomato;
    background-color: aliceblue;
   
}
.tbox h6{
    color: #6db784;
    border-bottom: 2px solid greenyellow;
    font-size: 25px;
    font-weight: bold;
}

#works{
    margin-top: 40px;
    align-items: center;
    justify-content: center;
    justify-items: center;
    
}

#jackcontact{
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    background-color:#5bccf6 ;
    background-blend-mode:color-dodge;
}
#jackcontact input{
    background-color: transparent;
    border: 1px solid white;
}
#contact{
    justify-content: space-around;
    padding: 10px;
    margin-left: 20%;
    margin-right: 20%;
    /* margin-left: 100px; */


}
#contact textarea{
    background-color: transparent;
    border: 1px solid white;
}
#jackcontact p{
    color: #282612;
}
#jackcontact h2{
    color: #ef9273;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}



#skills{
    height: 100vh;
    width: 80%;
    padding: 10px;
    margin-top: 20px;

    /* margin-left: 100px; */
    justify-content: center;
    align-items: center;


}

#bot{
    height:max-content;

}
.portfolio{
    align-items: flex-start;
    text-align: start;
    margin-bottom: 50px;
}
.portfolio h2{
    margin-bottom: 60px;

}
#portfolio{
    padding: 50px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    font-size: large;
    font-weight: bold;
    margin-top: 50px;
    background-blend-mode: overlay;
    text-align: center;
    }


h2,h3,h4,h5,h6{
    font-size: 70px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: oblique;
}

#portfolio h2{
    color: green;
    text-align: center;
    text-decoration:underline;
}
#portfolio p{
    text-align: center;
    margin-bottom: -50px;
    color: #030e12;
    font-weight: lighter;
    margin-top: -30px;
}

.projects:hover{
    cursor: pointer;
}
.projects{
    
    padding: 20px;
    align-items: center;
    width: 100%;
    z-index: 3;
    justify-content: center;
    text-align:center;
    display: flexbox;
    text-align: center;
    height: 100%;


}
.projects .card{

    width: 100%;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

#project1{
    background-image: url('../images/project1.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;

}
#chemist{
    border-top:solid 4px #5bccf6;
    border-right:solid 1px #5bccf6;
    border-left:solid 1px #5bccf6;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    color: grey;
    text-align: center;
    justify-content: space-around;
}


#project2{
    background-image: url('../images/project2.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;

}
#church{
    border-top:solid 4px #5bccf6;
    border-right:solid 1px #5bccf6;
    border-left:solid 1px #5bccf6;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    color: grey;
    text-align: center;
    justify-content: space-around;
}
#project2 p{
    color: transparent;
}

#project3{
    background-image: url('../images/calc.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;

}
#flutter{
    border-top:solid 4px #5bccf6;
    border-right:solid 1px #5bccf6;
    border-left:solid 1px #5bccf6;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    color: grey;
    text-align: center;
    justify-content: space-around;
}
#project3 a{
    color: #5bccf6;
    text-emphasis: none;
    text-decoration: none;
    
}

.projects a{
    width: 100%;
    height: 100%;
}
#project4{
    background-image: url('../images/yolomi.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;

}
#yolomi{
    border-top:solid 4px #5bccf6;
    border-right:solid 1px #5bccf6;
    border-left:solid 1px #5bccf6;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    color: grey;
    text-align: center;
    justify-content: space-around;
}

#project5{
    overflow: hidden;

    background-image: url('../images/delani.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;

}
#project5 p{
    margin-top: -170px;
    color: transparent;
}
#delani{
    border-top:solid 4px #5bccf6;
    border-right:solid 1px #5bccf6;
    border-left:solid 1px #5bccf6;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    color: grey;
    text-align: center;
    justify-content: space-around;
}
#project6{
    background-image: url('../images/pizza.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;

}
#pizza{
    border-top:solid 4px #5bccf6;
    border-right:solid 1px #5bccf6;
    border-left:solid 1px #5bccf6;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    color: grey;
    text-align: center;
    justify-content: space-around;
}

#projectL{
    margin-top: 20px;

}

#contact-btn{
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 3px;
    color: #fefbe9;
    background-color: #6db784;
}

#foot-card{
    overflow-wrap: normal;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: silver;
    width: 100%;
    background-color: #030e12;
    border-bottom: 7px solid rgb(156, 226, 35);

}

#jack{
    display:none;
}

div a{
    text-decoration: none;
    color: silver;
}

#navbarCollapse li a{
    color: #232323;
   
    justify-content: space-between;
    display: grid;
    border-radius: 16px;
}

#navbarCollapse li a:hover{
    background-color: #ef9273;
}




@media screen and (min-width: 200px) and (max-width: 400px) {
    body {
        background-color: black;
        color: white;
    }
    img{
        width: 30px;
    }
}
@media screen and (min-width: 768px) {
  body {
    background-color: yellowgreen;
  }
  .column {
    width: 220px;
    float: left;
    padding: 15px;
  }
}


@media only screen and(max-width:620px) {
    .contact,
    .contact-us,
    .container,
    .footer,
    .portfolio,
    .portfolio-images,
    .serve,
    .services,
    .social,
    .top,
    .work,
    .work:hover,
    .col {
        width: 100%;
    }
}


#skls h5{
    /* border-bottom: solid 4px tomato;     */
    color:#6db784;
    text-decoration: underline rgb(134, 132, 132) 3px;
    font-weight: bold;
    border-radius: 16px;

}
#skls p{
    text-decoration: underline 1px greenyellow;
}

#skillsp{
    background-color: aliceblue;
    padding: 5px;
    border-radius: 30px;
    border-bottom:  solid 3px;
    /* opacity: 0.7; */
    margin-bottom: 20px;

}

